.container {
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.poster {
  display: block;
  margin-right: 30px;
}
@media screen and (min-width: 1060px) {
  .container {
    display: flex;
  }
  .poster {
    margin-right: 30px;
  }
  .info {
    border: 1px solid #660000;
    padding: 20px;
    border-radius: 10px;
  }
  .name {
  }
  .desc {
  }
  .genresTitle {
  }
  .genresList {
    list-style: none;
    padding: 0;
  }
  .genreItem {
  }
}
