.image {
  width: 100%;
}
.default {
  width: 100%;
  height: 230px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #cdcdcd;
}
.defaultImage {
  color: white;
}
