.image {
  width: 100%;
}
.default {
  width: 100%;
  height: 230px;
  background-color: #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.defaultImage {
  color: white;
}
