.searchbar {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  box-shadow: 1px 10px 14px 2px rgba(69, 8, 8, 0.22);
  -webkit-box-shadow: 1px 10px 14px 2px rgba(69, 8, 8, 0.22);
  -moz-box-shadow: 1px 10px 14px 2px rgba(69, 8, 8, 0.22);
  margin-bottom: 30px;
}
.form {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;

  border-radius: 3px;
  overflow: hidden;
}
.button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
}
.icon {
  fill: #660000;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 18px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.input::placeholder {
  font: inherit;
  font-size: 18px;
}
