.header {
  height: 50px;
  display: flex;
  align-items: center;

  background-color: #660000;
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link {
  color: #e0e0e0;
  text-decoration: none;
  &:global.active {
    color: black;
    background-color: #e0e0e0;
    height: 40px;
    padding: 0 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }
}

.main {
}
.mainWrapper {
  max-width: 375px;
  background-color: #e0e0e0;
}

@media screen and (min-width: 680px) {
  .mainWrapper {
    max-width: 680px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1060px) {
  .mainWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1060px;
    min-height: 100vh;
    padding: 0;
    padding-bottom: 30px;

    background-color: #e0e0e0;
  }
}
